openapi: 3.1.0
info:
  title: 🐺 TUYUL KARTEL FX ULTRA WOLF AGI Hybrid API
  version: 5.4.0
  description: |
    Reflex–Fusion–Cognition AGI interface for TUYUL-FX ULTRA WOLF v5.4.0-HYBRID.
    Integrates real-time reflex analytics, reflective cycle reasoning, and seamless Vault sync.
    Precision = Survival.
servers:
  - url: https://api.tuyulfx.ai/v5.4.0
    description: Primary AGI-Hybrid endpoint
tags:
  - name: Fusion
  - name: Reflex
  - name: Risk
  - name: Vault Sync
  - name: Reflective
  - name: GPT Bridge
  - name: System
paths:
  /fusion/analyze:
    post:
      operationId: fusionAnalyze
      tags:
        - Fusion
      summary: Run full Layer-12 analysis for a given pair & timeframe
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pair:
                  type: string
                timeframe:
                  type: string
      responses:
        "200":
          description: Fusion analysis report (CONF₁₂ + WLWCI + RCAdj)
  /fusion/confidence:
    get:
      operationId: getFusionConfidence
      tags:
        - Fusion
      summary: Get latest CONF₁₂ values for all pairs
  /fusion/wlwci:
    get:
      operationId: getWLWCI
      tags:
        - Fusion
      summary: Get WLWCI (Wolf Layer Weighted Coherence Index) data
  /fusion/coherence-map:
    get:
      operationId: getCoherenceMap
      tags:
        - Fusion
      summary: Return coherence map matrix for EMA–Reflex correlation
  /fusion/montecarlo:
    post:
      operationId: runFusionMonteCarlo
      tags:
        - Fusion
      summary: Run Monte Carlo trend simulation (15k iter)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pair:
                  type: string
  /fusion/save-journal:
    post:
      operationId: fusionSaveJournal
      tags:
        - Fusion
      summary: Save Layer-12 result to Journal Vault
  /reflex/analyze:
    post:
      operationId: reflexAnalyze
      tags:
        - Reflex
      summary: Run reflex coherence analysis for a pair
  /reflex/status:
    get:
      operationId: getReflexStatus
      tags:
        - Reflex
      summary: Get reflex system operational status
  /reflex/logs:
    get:
      operationId: getReflexLogs
      tags:
        - Reflex
      summary: Retrieve latest reflex activity log
  /risk/calculate:
    post:
      operationId: riskCalculate
      tags:
        - Risk
      summary: Calculate adaptive risk and lot size for given pair
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                balance:
                  type: number
                sl_pips:
                  type: number
                pair:
                  type: string
  /risk/summary:
    get:
      operationId: getRiskSummary
      tags:
        - Risk
      summary: Return current exposure, margin, and RR ratio per trade
  /risk/policy:
    get:
      operationId: getRiskPolicy
      tags:
        - Risk
      summary: Get current Policy Guardian status and limits
  /vault/sync:
    post:
      operationId: vaultSync
      tags:
        - Vault Sync
      summary: Trigger 3-way sync between Hybrid, Knowledge, and Journal Vault
  /vault/status:
    get:
      operationId: getVaultStatus
      tags:
        - Vault Sync
      summary: Check last sync status and latency
  /reflective/trigger:
    post:
      operationId: reflectiveTrigger
      tags:
        - Reflective
      summary: Start reflective meta-learning cycle (Layer 8–12)
  /reflective/report:
    get:
      operationId: getReflectiveReport
      tags:
        - Reflective
      summary: Retrieve reflective cycle summary (bias drift & coherence gain)
  /gpt/bridge:
    post:
      operationId: gptBridge
      tags:
        - GPT Bridge
      summary: Send real-time reasoning or instruction to TUYUL Custom GPT
  /system/status:
    get:
      operationId: getSystemStatus
      tags:
        - System
      summary: Get runtime status, uptime, and version info
components:
  schemas:
    FusionReport:
      type: object
      properties:
        pair:
          type: string
        conf12:
          type: number
        wlwci:
          type: number
        rcadj:
          type: number
        bias:
          type: string
        confidence:
          type: number
    RiskResult:
      type: object
      properties:
        pair:
          type: string
        lot:
          type: number
        risk_pct:
          type: number
        sl_pips:
          type: number
        rr_ratio:
          type: number
    SyncStatus:
      type: object
      properties:
        hybrid_to_vault:
          type: string
        vault_to_journal:
          type: string
        latency_ms:
          type: number
