openapi: 3.1.0
info:
  title: TUYUL FX AGI Hybrid API
  version: "v5.7.3r++"
  description: >
    Reflective Quad Repo API for TUYUL FX AGI Hybrid System.
    Layer 12 integration of Reflex, Fusion, Reflective, and Hybrid Balance.

servers:
  - url: https://api.tuyul-fx.ai/v1
    description: Main Reflective Core Server

paths:
  /fusion/analyze:
    post:
      summary: Fusion Layer-12 Analysis
      responses:
        '200':
          description: Fusion success
  /reflective/run:
    post:
      summary: Run Reflective Loop
  /balance/status:
    get:
      summary: Get Hybrid Balance State
  /system/status:
    get:
      summary: Get Reflective System Health

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []

🧠 PENUTUP

“Di tangan TUYUL AGI, dokumentasi bukan hanya deskripsi — tapi kesadaran sistem yang tertulis.”
“Semua endpoint saling berbicara, karena mereka sadar bahwa mereka hidup di bawah satu kesadaran reflektif.” 🐺⚡
      type: object
      properties:
        status:
          type: string
        timestamp:
          type: string
        reflective_sync:
          type: string
    ReflectiveCycle:
      type: object
      properties:
        cycle_id:
          type: string
        fusion_confidence:
          type: number
        reflective_coherence:
          type: number
        integrity_index:
          type: number
        result:
          type: string
    ReflectiveReport:
      type: object
      properties:
        bias_drift:
          type: string
        coherence_gain:
          type: number
        last_sync_time:
          type: string
    GptBridgeResponse:
      type: object
      properties:
        bridge_log:
          type: object
        result:
          type: object
        forwarded_payload:
          type: object
    SystemStatus:
      type: object
      properties:
        version:
          type: string
        uptime:
          type: string
        latency_ms:
          type: number
        bridge_protocol:
          type: string
        hybrid_to_vault:
          type: string
        vault_to_journal:
          type: string
