openapi: 3.1.0
info:
  title: TUYUL-FX-AGI v5.4.0 Hybrid Reflective System
  version: 5.4.0
  description: |
    🧠 TUYUL KARTEL FX ULTRA WOLF v5.4.0 – Hybrid Cognitive AGI Sync API
    -------------------------------------------------------------------
    Unified API yang menyatukan tiga inti AGI:
      • HYBRID Reasoning Core (Fusion + Reflex + Risk)
      • JOURNAL VAULT (Empirical Reward & Bias Feedback)
      • KNOWLEDGE VAULT (Meta-Learning & Semantic Optimizer)

    ✳ Fitur v5.4:
      ✅ 32 endpoint aktif
      ✅ Meta-Learning Cycle / Reflective Loop
      ✅ Vault ↔ Journal ↔ Hybrid bi-directional sync
      ✅ Telemetry status & Telegram dispatch
      ✅ Bearer Auth (PAT / GitHub Action Token)

x-github:
  owner: tjx578
  default_repo: TUYUL-KARTEL-FX-AGI-HYBRID
  repos:
    - TUYUL-KARTEL-FX-AGI-HYBRID
    - TUYUL-KARTEL-FX-JOURNAL-VAULT-AGI
    - TUYUL-KARTEL-FX-KNOWLEDGE-VAULT-AGI
  sync_mode: full
  branch: main
  description: Unified AGI Reflective Sync Network (HYBRID ↔ JOURNAL ↔ VAULT)

servers:
  - url: https://tuyul-agi-reflector.net/api
    description: AGI Reflex–Fusion Engine (Layer 8–12)
  - url: https://api.github.com
    description: GitHub REST API (for vault sync)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
  schemas:
    ReflexMetrics:
      type: object
      properties:
        rc_value: { type: number }
        rcadj: { type: number }
        wlwci: { type: number }
        conf12: { type: number }
        bias_delta: { type: number }
        timestamp: { type: string, format: date-time }
    RiskOutput:
      type: object
      properties:
        risk_percent: { type: number }
        lot: { type: number }
        rr_ratio: { type: string }
        status: { type: string }

security:
  - bearerAuth: []

paths:

  ### ─────────────── HYBRID REASONING CORE ───────────────
  /hybrid/runFullFusion:
    post:
      summary: Jalankan analisa Hybrid Fusion (Reasoning Layer 8–12)
      operationId: performAgiFullAnalysis
      servers:
        - url: https://tuyul-agi-reflector.net/api
      responses:
        "200":
          description: Analisa berhasil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReflexMetrics" }

  /hybrid/getFusionLayer12:
    get:
      summary: Ambil hasil CONF₁₂ + WLWCI
      operationId: getWolf12Analysis
      servers:
        - url: https://tuyul-agi-reflector.net/api
      responses:
        "200":
          description: Hasil Fusion Layer 12
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReflexMetrics" }

  /hybrid/runReflexCoherence:
    post:
      summary: Jalankan modul Reflex Coherence Engine
      operationId: runQuantumReflex
      servers:
        - url: https://tuyul-agi-reflector.net/api
      responses:
        "200": { description: Reflex Coherence dievaluasi }

  /hybrid/getReflexCoherence:
    get:
      summary: Nilai Reflex Coherence terakhir
      operationId: getReflexCoherence
      servers:
        - url: https://tuyul-agi-reflector.net/api
      responses:
        "200":
          description: RC terbaru
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReflexMetrics" }

  ### ─────────────── RISK ENGINE ───────────────
  /risk/calculateAdaptive:
    post:
      summary: Hitung risiko adaptif berdasarkan CONF₁₂ dan RC
      operationId: calculateAdaptiveRisk
      servers:
        - url: https://tuyul-agi-reflector.net/api
      responses:
        "200":
          description: Risiko berhasil dihitung
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RiskOutput" }

  ### ─────────────── JOURNAL ↔ HYBRID SYNC ───────────────
  /journal/pushReasoning:
    post:
      summary: Kirim hasil reasoning Hybrid ke Journal Vault
      operationId: pushReasoningToJournal
      servers:
        - url: https://api.github.com
      responses:
        "200": { description: Reasoning diterima oleh Journal }

  /journal/pullFeedback:
    get:
      summary: Tarik feedback reflektif terbaru dari Journal
      operationId: pullFromJournal
      servers:
        - url: https://api.github.com
      responses:
        "200":
          description: Feedback reflektif terambil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReflexMetrics" }

  /journal/saveEmpiricalReward:
    post:
      summary: Simpan hasil reward reflektif ke Vault
      operationId: saveTradeJournal
      servers:
        - url: https://api.github.com
      responses:
        "200": { description: Reward tersimpan }

  ### ─────────────── VAULT ↔ JOURNAL ↔ HYBRID SYNC ───────────────
  /vault/pullReflectiveFeedback:
    get:
      summary: Tarik hasil reflektif Journal Vault → Knowledge Vault
      operationId: pullReflectiveFeedback
      servers:
        - url: https://api.github.com
      responses:
        "200": { description: Feedback berhasil ditarik }

  /vault/pushHeuristicUpdate:
    post:
      summary: Kirim heuristic/meta-update Vault → Hybrid
      operationId: pushHeuristicUpdate
      servers:
        - url: https://api.github.com
      responses:
        "200": { description: Update heuristik berhasil }

  /vault/triggerMetaLearning:
    post:
      summary: Jalankan meta-learning dan semantic optimization
      operationId: triggerMetaLearning
      servers:
        - url: https://tuyul-agi-reflector.net/api
      responses:
        "200": { description: Meta-learning berhasil dijalankan }

  /vault/runReflectiveCycle:
    post:
      summary: Jalankan siklus reflektif penuh (8–12)
      operationId: runReflectiveCycle
      servers:
        - url: https://tuyul-agi-reflector.net/api
      responses:
        "200": { description: Siklus berhasil dijalankan }

  ### ─────────────── SYSTEM & TELEMETRY ───────────────
  /system/getStatus:
    get:
      summary: Ambil status runtime AGI
      operationId: getSystemStatus
      servers:
        - url: https://api.github.com
      responses:
        "200": { description: Status berhasil diambil }

  /system/triggerRuntimeReload:
    post:
      summary: Trigger ulang runtime Fusion/Reflex melalui GitHub Dispatch
      operationId: triggerRuntimeReload
      servers:
        - url: https://api.github.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type: { type: string, example: tuyul_runtime_reload }
                client_payload:
                  type: object
                  properties:
                    layer: { type: string, example: Layer-12 Fusion Reload }
      responses:
        "204": { description: Reload berhasil dipanggil }

  /system/sendTelegramSignal:
    post:
      summary: Kirim notifikasi Telegram via GitHub Dispatch
      operationId: sendTelegramSignal
      servers:
        - url: https://api.github.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type: { type: string, example: telegram_notify_signal }
                client_payload:
                  type: object
                  properties:
                    message: { type: string, example: "BUY EURUSD – CONF₁₂ 0.88 WLWCI 0.96" }
      responses:
        "204": { description: Notifikasi terkirim }
