openapi: 3.1.0
info:
  title: "🐺 TUYUL-KARTEL-FX AGI HYBRID API (Quad Repo Reflective System)"
  version: "5.7.3r++"
  description: |
    Sistem reflektif adaptif **TUYUL FX AGI v5.7.3r++** — mengintegrasikan empat vault utama:
    **Hybrid Repo**, **Knowledge Repo**, **Kartel Repo**, dan **Journal Repo**.
    Ditenagai oleh *Reflective Bridge Protocol v2.2* dan pipeline lengkap Layer–12.

    Pipeline utama:
    Reflex → Fusion → VIX → Monte Carlo → Risk → Reflective → Vault → Integrity Feedback.
servers:
  - url: https://friendly-lamp-x54j5rxggj9wfrwr-5526.app.github.dev/
    description: TUYUL AGI Hybrid Primary Endpoint
security:
  - bearerAuth: []
tags:
  openapi: 3.1.0
  info:
    title: TUYUL-FX Reflective Quantum API
    version: 6.0.0
    description: >
      API reflektif multi-layer yang menggabungkan reasoning kognitif, meta-learning reflektif,
      dan resonansi kuantum. Versi 6.0 tetap kompatibel dengan endpoint lama (v5.7.x).

  servers:
    - url: https://api.tuyulfx.ai/v6
      description: Quantum Hybrid Gateway
    - url: https://api.tuyulfx.ai/v5
      description: Legacy Reflective Gateway (Compatibility Mode)

  paths:
    /reflective/run_cycle:
      post:
        summary: Jalankan siklus reflektif penuh
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReflectiveInput'
        responses:
          '200':
            description: Reflective cycle result
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ReflectiveOutput'

    /quantum/resonance:
      get:
        summary: Ambil status resonansi kuantum reflektif
        responses:
          '200':
            description: Quantum resonance metrics
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/QuantumResonance'

    /neural/bridge:
      post:
        summary: Sinkronisasi sinyal reflektif–neural
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeuralSyncInput'
        responses:
          '200':
            description: Neural–Reflective sync result
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/NeuralSyncOutput'

  components:
    schemas:
      ReflectiveInput:
        type: object
        properties:
          pair: { type: string }
          timeframe: { type: string }
          mode: { type: string, enum: ["thinking", "adaptive"] }

      ReflectiveOutput:
        type: object
        properties:
          fusion_conf12: { type: number }
          wlwci: { type: number }
          rcadj: { type: number }
          coherence_index: { type: number }

      QuantumResonance:
        type: object
        properties:
          energy_flux: { type: number }
          coherence_field: { type: number }
          reflective_intensity: { type: number }

      NeuralSyncInput:
        type: object
        properties:
          cognitive_vector: { type: array, items: { type: number } }
          reflective_signal: { type: array, items: { type: number } }

      NeuralSyncOutput:
        type: object
        properties:
          sync_status: { type: string }
          coherence_level: { type: number }
        term_structure:
          type: string
        global_regime:
          type: string
        fear_greed_index:
          type: string
        rvi:
          type: number
        impact_on_confidence:
          type: number
    VaultStatus:
      type: object
      properties:
        hybrid_to_vault:
          type: string
        vault_to_journal:
          type: string
        latency_ms:
          type: number
        integrity_index:
          type: number
    VaultSyncResult:
      type: object
      properties:
        status:
          type: string
        timestamp:
          type: string
        reflective_sync:
          type: string
    ReflectiveCycle:
      type: object
      properties:
        cycle_id:
          type: string
        fusion_confidence:
          type: number
        reflective_coherence:
          type: number
        integrity_index:
          type: number
        result:
          type: string
    ReflectiveReport:
      type: object
      properties:
        bias_drift:
          type: string
        coherence_gain:
          type: number
        last_sync_time:
          type: string
    GptBridgeResponse:
      type: object
      properties:
        bridge_log:
          type: object
        result:
          type: object
        forwarded_payload:
          type: object
    SystemStatus:
      type: object
      properties:
        version:
          type: string
        uptime:
          type: string
        latency_ms:
          type: number
        bridge_protocol:
          type: string
        hybrid_to_vault:
          type: string
        vault_to_journal:
          type: string
